@import "~normalize.css";

body {
  color: #333;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 2rem;
}

#button-container {
  position: relative;
  left: 10em;
  top: 20em;
}

#button {
  
}

#popover {
  position: absolute;
  background-color: #eee;
  border: 1px #ddd solid;
  padding: 1em;
  border-radius: 6px;
}

#popover h3 {
  margin-top: 0;
}