@import "~normalize.css";

body {
  color: #333;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

#button-container {
  display: inline-block;
  position: relative;
  left: 10em;
  top: 20em;
}

#popover {
  width: 200px;
  position: absolute;
  background-color: #eee;
  border: 1px #ddd solid;
  padding: 1em;
  border-radius: 6px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

#popover h3 {
  margin-top: 0;
}